{% extends 'base.html' %}

{% block content %}
    <main class="content-form">
        <div>
            <form method="POST">
                <h1>Actualizar tecnología: {{ tecnologia.id }}</h1>
        
                {% csrf_token %}

                <div class="form-control">
                    {{ form }}
                </div>

                <div class="div-button">
                    <button>
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
